:root {
	--text-color: #fff;
	--left-avatar-line-color: #fff;
	--right-avatar-line-color: #fff;
	--left-score-bar-color: #fff;
	--right-score-bar-color: #fff;
	--chat-color: rgba(0 0 0 / .75);
	--bg: url('../static/mp-bg.png');
	--bg2: url('../static/mp-bg2.png');
	--font: url("../fonts/BeVietnamPro-Regular.ttf");
	/* --mp-bg: url("../static/mp-bg.png");
	--mp-bg2: url("../static/mp-bg2.png"); */
}

@font-face {
	font-family: "Torus";
	src: url("../fonts/Torus-Regular.otf");
}

@font-face {
	font-family: "BeVietnamPro";
	src: url("../fonts/BeVietnamPro-Regular.ttf");
}

body,
html {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	user-select: none;
}

#main {
	font-size: 30px;
	font-family: Exo2, Helvetica, sans-serif;
	font-weight: normal;
	color: var(--text-color);
	background-image: var(--bg);
	/* background-color: #15151e; */
	background-size: 100%;
	width: 1920px;
	height: 1080px;
	position: relative;
}


#bottom {
	position: absolute;
	bottom: 0px;
	width: 1920px;
	height: 240px;
	background-repeat: no-repeat;
	/* background: #15151e; */
	transition: ease-in-out 200ms;
	z-index: 0;
	background-size: cover;
}

.odometer.odometer-auto-theme {
	font-size: 24px !important;
	font-family: "Nexa Bold", Helvetica, sans-serif !important;
	font-weight: normal !important;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
	padding-left: 5px !important;
	padding-right: 5px !important;
	margin-left: -5px !important;
	margin-right: -5px !important;
}
